<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Farinha - https://gitlab.com/massarelos/farinha">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">
  <title>{{ @FARINHA_NOME }}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
  <!-- Customizado para uso com Farinha - https://gitlab.com/massarelos/farinha -->

  <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="templates/css/painel.css" rel="stylesheet">
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">{{ @FARINHA_NOME }}</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder=""
      aria-label="Search" disabled>

    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/logout">Sair</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      {{ @menu | raw }}

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Administração</h1>

          <exclude>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar" class="align-text-bottom"></span>
                This week
              </button>
            </div>
          </exclude>

        </div>

        <h2>Editar usuário</h2>
        <p>
          <a class="btn btn-primary btn-sm" href="javascript:history.back()" role="button">Retornar</a>
        </p>

        <div class="table-responsive">
          <form class="form-signin" name="editar-usuario" action="/proc-admin-usuarios-editar" method="POST">
            <repeat group="{{ @res_usuarios }}" value="{{ @item }}">
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>Nome: </td>
                    <td><input type="text" id="inputNome" name="inputNome" class="form-control" value="{{ @item.nome }}"
                        required></td>
                  </tr>
                  <tr>
                    <td>Nome da mãe: </td>
                    <td><input type="text" id="inputNomeDaMae" name="inputNomeDaMae" class="form-control"
                        value="{{ @item.nomedamae }}" required></td>
                  </tr>
                  <tr>
                    <td>Email: </td>
                    <td><input type="email" id="inputEmail" name="inputEmail" class="form-control"
                        value="{{ @item.email }}" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Celular: </td>
                    <td><input type="tel" id="inputCelular" placeholder="7199999999" name="inputCelular"
                        class="form-control" value="{{ @item.celular }}">
                    </td>
                  </tr>
                  <tr>
                    <td>Nacionalidade: </td>
                    <td><input type="text" id="inputNacionalidade" name="inputNacionalidade" class="form-control"
                        value="{{ @item.nacionalidade }}"></td>
                  </tr>
                  <tr>
                    <td>Naturalidade: </td>
                    <td><input type="text" id="inputNaturalidade" name="inputNaturalidade" class="form-control"
                        value="{{ @item.naturalidade }}"></td>
                  </tr>
                  <tr>
                    <td>Gênero: </td>
                    <td><input type="text" id="inputGenero" name="inputGenero" class="form-control"
                        value="{{ @item.genero }}"></td>
                  </tr>
                  <tr>
                    <td>Cor/Raça: </td>
                    <td><input type="text" id="inputCor" name="inputCor" class="form-control" value="{{ @item.cor }}">
                    </td>
                  </tr>
                  <tr>
                    <td>Data de nascimento: </td>
                    <td><input type="date" id="inputDataNasc" name="inputDataNasc" class="form-control"
                        value="{{ @item.datanasc }}"></td>
                  </tr>
                  <tr>
                    <td>Escolaridade: </td>
                    <td>
                      <select class="form-select" id="inputEscolaridade" name="inputEscolaridade"
                        aria-label="Escolaridade">
                        <option value="Nível Fundamental" <check if="{{ @item.escolaridade == 'Nível Fundamental' }}">
                          selected</check>>Nível Fundamental</option>
                        <option value="Nível Médio" <check if="{{ @item.escolaridade == 'Nível Fundamental' }}">
                          selected</check>>Nível Médio</option>
                        <option value="Nível Médio" <check if="{{ @item.escolaridade == 'Nível Médio' }}"> selected
                          </check>>Nível Superior</option>
                        <option value="Especialização" <check if="{{ @item.escolaridade == 'Especialização' }}">
                          selected</check>>Especialização</option>
                        <option value="Mestrado" <check if="{{ @item.escolaridade == 'Mestrado' }}"> selected</check>
                          >Mestrado</option>
                        <option value="Doutorado" <check if="{{ @item.escolaridade == 'Doutorado' }}"> selected</check>
                          >Doutorado</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Logradouro e número: </td>
                    <td><input type="text" id="inputLogradouro" name="inputLogradouro" class="form-control"
                        value="{{ @item.logradouro }}"></td>
                  </tr>
                  <tr>
                    <td>Complemento: </td>
                    <td><input type="text" id="inputComplemento" name="inputComplemento" class="form-control"
                        value="{{ @item.complemento }}"></td>
                  </tr>
                  <tr>
                    <td>Bairro: </td>
                    <td><input type="text" id="inputBairro" name="inputBairro" class="form-control"
                        value="{{ @item.bairro }}"></td>
                  </tr>
                  <tr>
                    <td>CEP: </td>
                    <td><input type="text" id="inputCEP" name="inputCEP" class="form-control" value="{{ @item.cep }}">
                    </td>
                  </tr>
                  <tr>
                    <td>País: </td>
                    <td><input type="text" id="inputPais" name="inputPais" class="form-control"
                        value="{{ @item.pais }}">
                    </td>
                  </tr>
                  <tr>
                    <td>Estado: </td>
                    <td><input type="text" id="inputEstado" name="inputEstado" class="form-control"
                        value="{{ @item.estado }}">
                    </td>
                  </tr>
                  <tr>
                    <td>Cidade: </td>
                    <td><input type="text" id="inputCidade" name="inputCidade" class="form-control"
                        value="{{ @item.cidade }}">
                    </td>
                  </tr>
                </tbody>
              </table>
              <input type="hidden" id="idusuario" name="idusuario" value="{{ @GET.id }}">
              <br>
              <h3>Permissões administrativas</h3>
              <table class="table table-striped table-sm">
                {{ @HTMLpermissoes |raw }}
              </table>
            </repeat>

            <button class="btn btn-primary" type="submit">Salvar</button>
          </form>
        </div>
      </main>
    </div>
  </div>


  <script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>

  <script>
    feather.replace()
  </script>

</body>

</html>
