<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Farinha - https://gitlab.com/massarelos/farinha">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">
  <title>{{ @FARINHA_NOME }}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/starter-template/">
  <!-- Customizado para uso com Farinha - https://gitlab.com/massarelos/farinha -->

  <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="templates/css/home.css" rel="stylesheet">
</head>

<body>

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="mb-4" src="templates/img/apeb-logo.png" alt="" width="270" height="91">
        <span class="fs-4">Plataforma APEB</span>
      </a>
    </header>

    <main>
      <h1>Plataforma de Informação e Comunicação</h1>
      <p class="fs-5 col-md-8">Essa é a plataforma do Arquivo Público do Estado da Bahia, um espaço para integração de
        pessoas, instituições e recursos informacionais e comunicacionais.</p>

      <div class="mb-5">
        <a href="/login" class="btn btn-primary btn-lg px-4">Acesse a plataforma</a>
      </div>

      <hr class="col-3 col-md-2 mb-5">

      <div class="row g-5">
        <div class="col-md-6">
          <h2>Recursos disponíveis</h2>
          <p>Por meio dessa plataforma é possível ter acesso a:</p>
          <ul class="icon-list ps-0">
            <!--          <li class="d-flex align-items-start mb-1"><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>-->
            <li class="text-muted d-flex align-items-start mb-1">Mapa dos Arquivos da Bahia</li>
            <li class="text-muted d-flex align-items-start mb-1">Bases de dados de acervos do APEB</li>
            <li class="text-muted d-flex align-items-start mb-1">Bases de dados de acervos de arquivos municipais</li>
            <li class="text-muted d-flex align-items-start mb-1">Diretório de pessoas, normas e instrumentos</li>
          </ul>
        </div>

        <div class="col-md-6">
          <h2>Público alvo</h2>
          <p>Recursos diversos para diversos perfis:</p>
          <ul class="icon-list ps-0">
            <li class="text-muted d-flex align-items-start mb-1">Pesquisadores (historiadores, genealogistas, acadêmicos
              em geral</li>
            <li class="text-muted d-flex align-items-start mb-1">Gestores de documentos do Estado</li>
            <li class="text-muted d-flex align-items-start mb-1">Funcionários de arquivos municipais</li>
            <li class="text-muted d-flex align-items-start mb-1">Público em geral</li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
      Desenvolvido no APEB &middot; &copy; 2023
    </footer>
  </div>


  <script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</body>

</html>