<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Farinha - https://gitlab.com/massarelos/farinha">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">
  <title>{{ @FARINHA_NOME }}</title>


  <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Customizado para uso com Farinha - https://gitlab.com/massarelos/farinha -->

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>


  <!-- Custom styles for this template -->
  <link type="text/css" href="templates/css/signin.css" rel="stylesheet">

  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

</head>

<body class="text-center">

  <main class="form-signin w-100 m-auto">
    <check if="{{ @page=='login' }}">
      <form action="/checklogin" method="POST">
        <img class="mb-4" src="templates/img/farinha-logo.png" alt="" width="270" height="91">
        <h1 class="h3 mb-3 fw-normal">Acesse a plataforma</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Seu email" required
            autofocus>
          <label for="inputEmail">Seu email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Sua senha"
            required>
          <label for="inputPassword">Sua senha</label>
        </div>

        <div class="checkbox mb-3">
          <!-- The following line controls and configures the Turnstile widget. -->
          <div class="cf-turnstile" data-sitekey="{{ @FARINHA_TURNSTILE_SITEKEY }}" data-theme="light"></div>
          <!-- end. -->
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

        <br><br>
        <a href="/cadastrar"><strong>Cadastrar</strong></a><br>
        <a href="/recuperar-senha">Recuperar senha</a><br>
        <a href="/">Retornar</a>

        <p class="mt-5 mb-3 text-muted">Feito com <a href="https://gitlab.com/massarelos/farinha" target="_blank">Farinha</a> - 2023</p>

      </form>
    </check>

    <check if="{{ @page=='recuperar-senha' }}">
      <form action="/proc-recuperar-senha" method="POST">
        <img class="mb-4" src="templates/img/farinha-logo.png" alt="" width="270" height="91">
        <h1 class="h3 mb-3 fw-normal">Recupere sua senha</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Seu email" required
            autofocus>
          <label for="inputEmail">Seu email</label>
        </div>

        <div class="checkbox mb-3">
          <!-- The following line controls and configures the Turnstile widget. -->
          <div class="cf-turnstile" data-sitekey="{{ @FARINHA_TURNSTILE_SITEKEY }}" data-theme="light"></div>
          <!-- end. -->
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Recuperar senha</button>
        <br><br>
        <a href="/login">Retornar</a>

        <p class="mt-5 mb-3 text-muted">Feito com <a href="https://gitlab.com/massarelos/farinha" target="_blank">Farinha</a> - 2023</p>
      </form>
    </check>

    <check if="{{ @page=='proc-recuperar-senha' }}">
      <check if="{{ @emailerro=='ok' }}">
        A nova senha foi enviada com sucesso para o seu email.<br>
        <a type="button" class="btn btn-link" href="/login">Retornar à página de login</a>
      </check>
      <check if="{{ @emailerro=='falhaenvioemail' }}">
        Houve uma falha no envio do email. Por favor, tente novamente após alguns minutos ou entre em contato com o
        suporte técnico.<br>
        <a type="button" class="btn btn-link" href="/login">Retornar à página de login</a>
      </check>
      <check if="{{ @emailerro=='noemail' }}">
        Não há nenhum usuário com esse email que tenha acesso ao sistema.<br>
        <a type="button" class="btn btn-link" href="/login">Retornar à página de login</a>
      </check>
    </check>

    <check if="{{ @page=='pub-cadastrar' }}">
      <form action="/proc-cadastrar" method="POST">
        <img class="mb-4" src="templates/img/farinha-logo.png" alt="" width="270" height="91">
        <h1 class="h3 mb-3 fw-normal">Cadastre-se na plataforma</h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="inputNome" name="inputNome" placeholder="Seu nome completo"
            required autofocus>
          <label for="inputEmail">Seu nome completo</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Seu email" required>
          <label for="inputEmail">Seu email</label>
        </div>

        <div class="checkbox mb-3">
          <!-- The following line controls and configures the Turnstile widget. -->
          <div class="cf-turnstile" data-sitekey="{{ @FARINHA_TURNSTILE_SITEKEY }}" data-theme="light"></div>
          <!-- end. -->
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>

        <br><br>
        <a href="/login">Retornar</a>

        <p class="mt-5 mb-3 text-muted">Feito com <a href="https://gitlab.com/massarelos/farinha" target="_blank">Farinha</a> - 2023</p>

      </form>
    </check>

  </main>


</body>

</html>
